.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 0px 100px;
}

.section h3{
    color: var(--accent);
    font-size: 3rem;
    text-align: center;
}

.section p{
    padding-top: 30px;
    text-align: center;
    color: var(--light);
    font-size: 1.6rem;
    line-height: 2;
}

.section_container{
    padding: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section_container > * {
    padding: 50px 0px;
}

@media (max-width: 1500px){
    .section h3{
        font-size: 3.5rem;
    }

    .section{
        width: min(700px, 90%);
    }
}