.projects_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects_container > *{
    margin:50px;
}

@media (max-width: 500px){
    .projects_container > *{
        margin: 30px 0px;
    }
}