.skills_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
}

.skills_container > *{
    margin: 25px 100px;
}

@media (max-width: 821px){
    .skills_container > *{
        margin: 40px 70px;
    }
}